*{
    margin: 0px;
    padding: 0px;
}
/*------- HEARDER ---------*/

.hcontain h1{
    font-size: 200px;
    text-align: center;
}
.hcontain h3{
    text-align: center;
    letter-spacing: 6px;
}
.hcontain p{
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    padding-inline: 200px;
    
}

.hcontain{
  

    color: #fff;
    position: relative;
    padding: 70px;
    z-index: 2;
    
}

#bgtrans{ 
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.8;
    z-index: 1;
}

.bgvideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute ;
    z-index: 0;
}

header{
    background-color: #000;
}