*{
    font-family: "Anton", sans-serif;
    margin: 0px;
    padding: 0px;
}

.containmenu{
    position: relative;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 6;
    background-color: #fff;
}
.menu-horizontal {
    position: relative;
    list-style: none;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    top: 0;
    width: 100%;
    background-color: #ffffff; 
    padding: 15px; 
    z-index: 5;
}

.menu-horizontal li {
    height: 100%;
    margin: 1%;
}

.menu-horizontal a {
    position: relative;
    text-decoration: none;
    color: #4b4848;
    font-weight: bold;
}

.menu-horizontal #menu0{
    text-align: center;
}
.menu-horizontal #menu0:hover{
    background-color: #000;
    opacity: 0.4;
}
.menu-horizontal #menu1{
    text-align: center;
}
.menu-horizontal #menu1:hover{
    background-color: #000;
    opacity: 0.4;
}
.menu-horizontal #menu2{
    text-align: center;
}
.menu-horizontal #menu2:hover{
    background-color: #000;
    opacity: 0.4;
}
.menu-horizontal #menu3{
    text-align: center;
}
.menu-horizontal #menu3:hover{
    background-color: #000;
    opacity: 0.4;
}
.menu-horizontal #menu4{
    text-align: center;
}
.menu-horizontal #menu4:hover{
    background-color: #000;
    opacity: 0.4;
}
.menu-horizontal #menu5{
    text-align: center;
}
.menu-horizontal #menu5:hover{
    background-color: #000;
    opacity: 0.4;
}